In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv.zip', compression='zip')

In [3]:
train.shape

(878049, 9)

In [4]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [5]:
def count_missing(df):
    print(df.name, df.isnull().sum())

for column in train:
    count_missing(train[column])

Dates 0
Category 0
Descript 0
DayOfWeek 0
PdDistrict 0
Resolution 0
Address 0
X 0
Y 0

In [6]:
target = train['Category']
train.drop(['Category'], axis=1, inplace=True)
train.drop(['Descript'], axis=1, inplace=True)
train.drop(['Resolution'], axis=1, inplace=True)

In [7]:
target.describe()

count            878049
unique               39
top       LARCENY/THEFT
freq             174900
Name: Category, dtype: object

In [8]:
target.value_counts()

LARCENY/THEFT                  174900
OTHER OFFENSES                 126182
NON-CRIMINAL                    92304
ASSAULT                         76876
DRUG/NARCOTIC                   53971
VEHICLE THEFT                   53781
VANDALISM                       44725
WARRANTS                        42214
BURGLARY                        36755
SUSPICIOUS OCC                  31414
MISSING PERSON                  25989
ROBBERY                         23000
FRAUD                           16679
FORGERY/COUNTERFEITING          10609
SECONDARY CODES                  9985
WEAPON LAWS                      8555
PROSTITUTION                     7484
TRESPASS                         7326
STOLEN PROPERTY                  4540
SEX OFFENSES FORCIBLE            4388
DISORDERLY CONDUCT               4320
DRUNKENNESS                      4280
RECOVERED VEHICLE                3138
KIDNAPPING                       2341
DRIVING UNDER THE INFLUENCE      2268
RUNAWAY                          1946
LIQUOR LAWS                      1903
ARSON                            1513
LOITERING                        1225
EMBEZZLEMENT                     1166
SUICIDE                           508
FAMILY OFFENSES                   491
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
Name: Category, dtype: int64

In [9]:
train['DayOfWeek'].value_counts()

Friday       133734
Wednesday    129211
Saturday     126810
Thursday     125038
Tuesday      124965
Monday       121584
Sunday       116707
Name: DayOfWeek, dtype: int64

In [10]:
pd.crosstab(train['DayOfWeek'], target)

Category,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
DayOfWeek,,,,,,,,,,,,,,,,,,,,,
Friday,220,11160,62,49,6327,541,352,7420,622,211,...,28,647,72,4924,1,1064,7092,8613,5926,1302
Monday,228,10560,66,41,5262,608,263,7823,513,222,...,23,636,75,4447,1,1081,5946,7412,5811,1183
Saturday,220,11995,45,42,4754,624,457,6390,833,137,...,21,581,73,4155,2,983,7326,8119,5364,1232
Sunday,211,12082,20,41,4231,586,442,6143,813,108,...,16,583,67,4010,0,915,6602,7504,5281,1128
Thursday,199,10246,66,39,5350,644,282,8454,496,165,...,15,679,89,4510,1,1047,5980,7456,6376,1282
Tuesday,235,10280,76,37,5374,657,251,8474,461,156,...,23,714,66,4517,1,1114,5852,7263,6427,1176
Wednesday,200,10553,71,40,5457,660,221,9267,542,167,...,22,700,66,4851,0,1122,5927,7414,7029,1252

In [11]:
pd.crosstab(train['PdDistrict'], target)

Category,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
PdDistrict,,,,,,,,,,,,,,,,,,,,,
BAYVIEW,393,9857,34,56,3930,219,179,4498,243,100,...,22,397,37,3906,3,636,5356,7219,4322,1647
CENTRAL,111,6977,65,12,4519,494,160,1805,517,180,...,7,510,60,2842,1,904,4469,4210,2777,487
INGLESIDE,182,8533,32,53,3331,171,206,2373,190,78,...,22,347,65,3167,0,416,5374,8960,2528,1130
MISSION,145,11149,46,66,3745,1099,357,8757,782,124,...,35,631,72,3808,1,1021,5294,7148,6615,1329
NORTHERN,149,8318,54,18,5854,452,260,4511,368,131,...,9,700,67,3270,1,780,5404,6291,4599,789
PARK,65,3515,15,7,2888,271,176,2573,374,50,...,6,175,20,1656,0,290,2613,3963,2318,357
RICHMOND,103,3202,31,8,2696,108,319,999,149,43,...,10,206,42,2191,0,245,3180,4117,1010,327
SOUTHERN,185,12183,74,37,4841,511,306,9228,959,275,...,17,1007,59,5065,0,1456,6550,4725,9102,1128
TARAVAL,120,5463,36,17,3463,162,202,1531,259,94,...,15,231,59,2996,0,386,4869,6142,1617,567
TENDERLOIN,60,7679,19,15,1488,833,103,17696,439,91,...,5,336,27,2513,0,1192,1616,1006,7326,794

In [12]:
X = pd.get_dummies(train['DayOfWeek'], columns=train.columns)

In [13]:
X = X.join(pd.get_dummies(train['PdDistrict'], columns=train.columns))

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(target)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=123, test_size=0.3)

In [18]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(614634, 17)
(614634,)
(263415, 17)
(263415,)

In [19]:
from sklearn.metrics import log_loss
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [51]:
model = RandomForestClassifier()
model.fit(X_train,y_train)
y_pred = np.array(model.predict_proba(X_test))
print("Log loss "+str(log_loss(y_test, y_pred)))

Log loss 2.61825368176